.deps
*.o
Makefile
autom4te.cache
compile
config.log
config.status
libtool
mpi/collective/osu_allgather
mpi/collective/osu_allgatherv
mpi/collective/osu_allreduce
mpi/collective/osu_alltoall
mpi/collective/osu_alltoallv
mpi/collective/osu_barrier
mpi/collective/osu_bcast
mpi/collective/osu_gather
mpi/collective/osu_gatherv
mpi/collective/osu_iallgather
mpi/collective/osu_iallgatherv
mpi/collective/osu_ialltoall
mpi/collective/osu_ialltoallv
mpi/collective/osu_ialltoallw
mpi/collective/osu_ibarrier
mpi/collective/osu_ibcast
mpi/collective/osu_igather
mpi/collective/osu_igatherv
mpi/collective/osu_iscatter
mpi/collective/osu_iscatterv
mpi/collective/osu_reduce
mpi/collective/osu_reduce_scatter
mpi/collective/osu_scatter
mpi/collective/osu_scatterv
mpi/one-sided/osu_acc_latency
mpi/one-sided/osu_cas_latency
mpi/one-sided/osu_fop_latency
mpi/one-sided/osu_get_acc_latency
mpi/one-sided/osu_get_bw
mpi/one-sided/osu_get_latency
mpi/one-sided/osu_put_bibw
mpi/one-sided/osu_put_bw
mpi/one-sided/osu_put_latency
mpi/pt2pt/osu_bibw
mpi/pt2pt/osu_bw
mpi/pt2pt/osu_latency
mpi/pt2pt/osu_latency_mt
mpi/pt2pt/osu_mbw_mr
mpi/pt2pt/osu_multi_lat
mpi/startup/osu_hello
mpi/startup/osu_init
